.DS_Store

# Codeigniter file
#-------------------------
application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

application/config/*
!application/config/web_config.php
application/views/errors/*

system/*

!application/*/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
index.php
!application/views/docs/index.php
application/vendor

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
